.content {
    position: relative;
  }
  .content video {
    width: 100%;
    display: block;
  }
  .content:before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    margin: 5px 0;
    border-radius: 5px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
