.productCard {
  margin: 10px;
}
CardImg{
    background-color: red;
    width: 100px;
}
.buttonContainer {
  display: flex;
  justify-content: space-evenly;
}
.buttons-container {
  display: flex;
  justify-content: center;
}
button {
  display: flex;
  background-color: grey !important;
  margin: 0 5px !important;
  width: 120px;
}
.mappedItemsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
