.productCard{
    margin: 10px;
}
.buttonContainer{
    display: flex;
    justify-content: space-evenly;
}

.mappedItemsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}