.storeWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.productCardContainer{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.productDetailWrapper{
    width: 90%;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.productGridContainer{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.productGridRows{
    margin-left: 2%;
    display: grid;
    grid-template-rows: 1fr 3fr;
}
.productForm{
    margin: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    width: 60px;
}

.addButton{
    margin: 10px;
}